<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="
background-image: url(https://mebincdn.themebin.com/1664271580523.jpg);
background-color: blanchedalmond;
"> 
   <form action="/recommendation" method="post" style="
    margin-top: 20px;
    " class="form">
    <h2 style="
        margin-left: 36%;
        color: red;

        ">Movie Recommendation System</h2><br>
    <input type="text" name="movie" id="movie" placeholder="Ex : Avengers" class="option">
    <input type="submit" id="submit" value="🔍" class="submit" >
   </form> 
   <div style="
    margin: 10px 0px 0 80px ;
    ">
    <h4 class="copy">
         Used Imdb 5000 Dataset &#169; Kaggle
    </h4>
       
    </div>

    <a href="https://github.com/bhuvan-bhu1">
    <div class="git">
        <img src="github-fill.png" alt="" class="github">
    </div></a>
    
</body>
</html>